<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<title>Update user</title>
		<link
			rel="stylesheet"
			href="/css/styles.css" />
	</head>
	<body>
		<ul>
			<li>
				<a
					class="active"
					href="/"
					>Home</a
				>
			</li>
			<li><a href="/create">Create user</a></li>
		</ul>
		<div class="form-add-new">
			<form
				action="/update-user"
				method="post">
				<fieldset>
					<legend>Update a user</legend>
					<div class="input-form d-none">
						<label for="">Id: </label>
						<input
							value="<%= user.id %>"
							name="id"
							type="text" />
					</div>
					<div class="input-form">
						<label for="">Email: </label>
						<input
							value="<%= user.email %>"
							name="email"
							type="text" />
					</div>
					<div class="input-form">
						<label for="">Name: </label>
						<input
							value="<%= user.name %>"
							name="name"
							type="text" />
					</div>
					<div class="input-form">
						<label for="">City: </label>
						<input
							value="<%= user.city %>"
							name="city"
							type="text" />
					</div>
					<div>
						<button>update</button>
					</div>
				</fieldset>
			</form>
		</div>
	</body>
</html>
